	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,500,600,700&display=swap');

:root {
	--wrapper_color: #fff;
	--bg-color: #E5E5E5;

	--maroon1: #870A3C; /* Primary brand color */
	--maroon2: #640032; /* Secondary accent color */
	--maroon3: rgba(100, 0, 50, 0.15); /* Row and Filter bg color */
	--maroon4: #511533; /* Table text */
	--maroon5: rgba(100, 0, 50, 0.3); /* Table row highlight color */

	--svg_icon_color: invert(100%) sepia(1%) saturate(6629%) hue-rotate(233deg) brightness(104%) contrast(100%); /* White*/
	--svg_icon_color_invert: invert(10%) sepia(48%) saturate(6701%) hue-rotate(325deg) brightness(97%) contrast(99%); /* maroon1 */
	
	/* Font weight */

	--montserrat_regular: 400;
	--montserrat_medium: 500;
	--montserrat_semi_bold: 600;
	--montserrat_bold: 700;


	--lato_light: 300;
	--lato_regular: 400;
	--lato_bold: 700;
}

html, body {
	height: 100%;
	background-color: var(--bg-color);
}

body {
	margin: 0;
	font-family: Montserrat, Lato, Calibri;
}

a {
	text-decoration: none;
}

nav a {
	color: #fff;
}

.wrapper {
	width: 100%;
	max-width: 90rem;
	min-height: 56.25rem;
	margin: 0 auto;
	background-color: var(--wrapper_color);
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	box-sizing: border-box;
}

.body-inner {
	width: 100%;
	max-width: 77.25rem;
	margin: 0 auto;
	height: inherit;
}

.header-inner {
	width: 100%;
	max-width: 87.1875rem;
	margin: 0 auto;
	height: inherit;
}

.main-section {
	width: 100%;
	max-width: 60.8125rem;
	height: inherit;
}

.head-align {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	width: 100%;
	min-height: 3.5625rem;
	background-color: var(--maroon1);
}

.logo {
	font-family: Montserrat;
	font-size: 1.875rem;
	font-weight: 400;
	color: #fff;
	line-height: 3.5625rem;
}

.navitems {
	font-family: Montserrat;
	font-size: 0.75rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.5625rem;
	display: flex;
	align-items: center;
}

.navitems a{
	padding: 0.9875rem;
	/*margin: 0.6875rem;*/
}

.navitems span {
	font-weight: 700;
}

.navitems a:hover {
	color: var(--maroon1);
	background: #fff;
}

.logouticon {
	width: 1.5625rem;
	height: 1.5625rem;
	display: flex;
	align-items: center;
	filter: var(--svg_icon_color);
}

a.logout:hover .logouticon {
	filter: var(--svg_icon_color_invert);
}


.logout-icon {
	/*background: url("/icons/logout.svg") no-repeat;*/
	position: absolute;
	left: 96.81%;
	right: 1.46%;
	top: 25%;
	bottom: 25%;
	filter: invert(100%) sepia(1%) saturate(6629%) hue-rotate(233deg) brightness(104%) contrast(100%);
}

/* HEADER END */


/* BREADCRUM */

.breadcrum {
	width: 100%;
	height: 1.25rem;
	background: var(--maroon2);
}

/* Dashboard > Users */




.page-title {
	font-size: 1.5rem;
	font-weight: var(--montserrat_regular);
	color: var(--maroon2);
	margin: 3.125rem 0;
}

.btn {
	border-radius: 0.1875rem;
	padding: 0.5rem 1.25rem;


	color: #000;
	font-size: 0.75rem;
	font-weight: var(--montserrat_medium);
}

.btn img{
	width: 0.9375rem;
	margin: 0 0.625rem -0.1875rem 0;
}

.primary-btn img {
	filter: var(--svg_icon_color);
}

.secondary-btn img {
	filter: var(--svg_icon_color_invert);
}

.primary-btn {
	border: 0.0625rem solid var(--maroon2);
	background-color: var(--maroon2);
	color: #fff;
}

.primary-btn:hover {
	background-color: var(--maroon1);
}

.secondary-btn {
	border: 0.0625rem solid var(--maroon2);
	box-sizing: border-box;
	color: var(--maroon2);
}


.action-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.875rem;
}

.actions {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 22.625rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


.tab button {
	width: 7.625rem;
	display: inline-block;
	font-family: Montserrat;
	border: none;
	padding: 0.6875rem 0;
	margin: 0;
	background: var(--maroon2);
	color: #fff;
	font-size: 0.75rem;
	font-weight: var(--montserrat_medium);
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out,
	transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.tab button:hover, .tab button:focus {
	background: var(--maroon1);
	outline: 0px solid var(--maroon1);
}
.tab button.active {
	transform: scale(0.99);
	background-color: var(--maroon1);
}

table {
	font-family: Montserrat;
	font-size: 0.75rem;
	text-align: left;
	border: none;
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: var(--maroon1);
	color: #fff;
	font-weight: var(--montserrat_bold);
	padding-left: 2.625rem;
}

th, td {
	height: 2.5rem;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 7.1875rem;
	min-width: 2.625rem;
	padding: 0 0.9375rem;
}

th:first-child, td:first-child {
	width: 2.625rem;
	padding: 0;
}

th:nth-child(2), td:nth-child(2) {
	padding-left: 0;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fff;
	border: none;
	width: 0.875rem;
	height: 0.875rem;
	margin: 0 0.875rem;
	border-radius: 3px;
}


	.regular-checkbox:checked {
		border: 1px solid var(--maroon2);
	}


	.regular-checkbox:checked:after {
		content: '\2714';
		font-size: 14px;
		top: 0px;
		left: 3px;
		color: var(--maroon2);
	}

table tbody tr{
	font-family: "Lato Medium";
	color: var(--maroon4);
	background-color: var(--maroon3);
	transition: 0.3s;
}

table tr {
    border-bottom: 1px solid white;
}â€‹

table tr:last-child { 
    border-bottom: none; 
}

table tbody tr:hover {
	background-color: var(--maroon5);
}


/*-------------------------------------------------*/
:root{
    --background_color_one: #fff;
    --background_color_two: #870A3C;
    --background_color_three:#640032;
    --background_color_four:#ffcccc;
    --background_color_five:#E5E5E5;
    --background_color_six:#F2F4F6;
    --border_color:#D6E3F0;
   --highlight_color:#FFFFFF;


}

.options {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6.9375rem;
    margin-left: 1.5625‬rem;
    max-width:60.75rem;
    min-height: 29.9375rem;
    background-color: var(--background_color_four);
    align-items: center;
    justify-content:space-between;
}

.admin {

    margin-right: 9.864375;
    }

.options span {
    margin-left: 9.864375rem;
    margin-right: 9.864375rem;
    }

/*.ltp {
    margin-right: 9.864375;
    }

.l1 {
    margin-right: 9.864375;
    }*/
.alltabs {
    width: 100%;
    text-align: center;
    display: inline-block;
    }

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 13.116875‬rem;
    margin-left: 31.5625‬rem;
    max-width:4.748125‬rem;
    min-height: 1.383125‬rem;
    /*background-color: var(--background_color_four);*/
    /*align-items: center;*/
    color: #fff;
    position: absolute;
    padding-left: 27.0625rem;
    padding-top: 15.625rem;
    }

.buttons span
{
    margin-left: 0.92125rem;
}

.buttons a.active, .row a:hover {
    background: var(--background_color_two);
    box-shadow: 0px 15px 40px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #fff;
   
    }

